body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f4f4f4;
}

.calculator {
    width: 320px;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px #7f4405(78, 167, 72, 0.1);
}

.display {
    width: 100%;
    height: 50px;
    background-color: #f2aa03;
    color: #fff;
    font-size: 24px;
    border: none;
    text-align: right;
    padding: 10px;
    box-sizing: border-box;
    margin-bottom: 20px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.btn {
    width: 100%;
    padding: 20px;
    font-size: 18px;
    border: none;
    background-color: #eee;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #ddd;
}

.equal {
    grid-column: span 2;
    background-color: #4CAF50;
    color: white;
}

.equal:hover {
    background-color: #45a049;
}
